<!DOCTYPE html>
<html>
<head>
	<title>Civilian Detail</title>
</head>
<script>
function show(){
but=document.getElementById("criminal");
butt=document.getElementById("but");
but.style.display="block";
butt.style.display="none";
}
</script>

<body>
<h1>{{error}}</h1>
<h1>Detail of Civilian 	{{user.username}}</h1>
<p>Username : {{user.username}}</p>
<p>Name: {{user.first_name}} {{user.last_name}}</p>
<p>Email ID : {{user.email}}</p>
<p>Phone No. : {{userprofile.phone_no}}</p>
<p>Age: {{userprofile.age}}</p>
<p>Gender: {{userprofile.gender}}</p>

{% if civilian %}
<p>Address : <br>{{address.house_no}} , <br> {{address.locality}} ,<br> {{address.city}}, <br>{{address.state}}, <br>PINCODE:{{address.pin_code}}</p>
<p>Job:{{civilian.job}}</p>
<p>Salary:{{civilian.salary}} Rs per month</p>
{% endif %}

<h2>Criminal Status : </h2>

{% if civilian.isCriminal %}
<h3>Yes he is a criminal</h3>
{% for itr in criminal %}
<p>Jail : {{itr.jail}} years</p>
<p>Description : {{itr.description}}</p>
<p>Fine : {{itr.fine}} Rs</p>
<p>Section: {{itr.section}}</p>
{% endfor %}
{% else %}
<h3>None</h3>

<button onclick="show()" id="but">Assign Crime</button>

<div id="criminal" style="display:none">
<form method="POST" class="post-form">{% csrf_token %}
<p><label for="id_jail">Jail:</label> <input id="id_jail" name="jail" type="number" value="0" /></p>
<p><label for="id_description">Description:</label> <input id="id_description" name="description"></p>
<p><label for="id_section">Section:</label> <input name="section"></p>
<p><label for="id_fine">Fine:</label><input id="id_fine" name="fine" type="number" value="0" /></p>      
<button type="submit">Assign Crime</button>
</form>
</div>


{% endif %}


</body>
</html>