{% extends 'police/partials/layout.html' %}
{% block content %}
<div class="ui container grid center aligned centered">
<div class="ui row">
{% if civilian.isCriminal %}
<div class="ui four wide column">
	<img src="/static/images/chor.png" alt="" width="200px">
</div>
{% endif %}
<div class="{% if civilian.isCriminal%} twelve {% else %} sixteen {% endif %}wide column">
	<h3>{{error}}</h3>
	<h1>Civilian: <span class="ui label{% if civilian.isCriminal%} red {% endif %}" style="font-size:18px;border-radius:1px">{{user.first_name}} {{user.last_name}}</span>{% if not civilian.isCriminal %}<button class="ui ab button teal" onclick="show()" id="but">Assign Crime</button>{% endif %}</h1>
	<b>Email:</b> {{user.email}}<br>
	<b>Phone:</b> {{userprofile.phone_no}}<br>
	<b>Age:</b> {{userprofile.age}}<br>
	<b>Gender:</b> {{userprofile.gender}}
	<div class="ui divider"></div>
</div>
</div>
<div class="eight wide column">
{% if civilian %}
<p>Address : <br>{{address.house_no}} , <br> {{address.locality}} ,<br> {{address.city}}, <br>{{address.state}}, <br>PINCODE:{{address.pin_code}}</p>
<p>Job:{{civilian.job}}</p>
<p>Salary:{{civilian.salary}} Rs per month</p>
{% endif %}
</div>
<div class="eight wide column">
	

<h2>Criminal Status : </h2>

{% if civilian.isCriminal %}
<h3>Criminal</h3>
{% for itr in criminal %}
<p>Jail : {{itr.jail}} years</p>
<p>Description : {{itr.description}}</p>
<p>Fine : {{itr.fine}} Rs</p>
<p>Section: {{itr.section}}</p>
{% endfor %}
{% else %}
<h3>None</h3>



<div id="criminal" style="display:none">
<form method="POST" class="post-form">{% csrf_token %}
<p><label for="id_jail">Jail:</label> <input id="id_jail" name="jail" type="number" value="0" /> Years</p>
<p><label for="id_description">Description:</label> <input id="id_description" name="description"></p>
<p><label for="id_section">Section:</label> <input name="section" placeholder="Eg: Dafa 420 ke tahat..."></p>
<p><label for="id_fine">Fine:</label><input id="id_fine" name="fine" type="number" value="0" /> Rs</p>      
<button type="submit" class="ui button">Assign Crime</button>
</form>
</div>
{% endif %}
</div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
	
function show(){
but=document.getElementById("criminal");
butt=document.getElementById("but");
but.style.display="block";
butt.style.display="none";
}
</script>
{% endblock %}