<!DOCTYPE html>
<html>
<head>
	<title>Criminal List</title>
</head>
<body>
<h1>Criminal Database</h1>


<table border=3 frame=hsides rules=columns>

<tr>
<th>Username</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email ID</th>
<th>Job</th>
<th>Salary</th>
</tr>
{% if result %}


{% for itr in result %}

<tr>
<td><a href="{% url 'civiliandetail' username=itr.user.username%}">{{itr.user.username}}</a></td>
<td>{{itr.user.first_name}}</td>
<td>{{itr.user.last_name}}</td>
<td>{{itr.user.email}}</td>
<td>{{itr.job}}</td>
<td>{{itr.salary}}</td>
</tr>
{% endfor %}


{% else %}
<h1>No users found</h1>
{% endif %}
</table>
</body>
</html>