{% extends "police/partials/layout.html" %}
{% block style_block %}
<style type="text/css">
    .post-form label{
        width:100px;
        display:inline-block;
        font-weight:600;
    }
</style>
{% endblock %}
{% block content %}
{% if error %}
<div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    {{error}}
  </div>
</div>
{% endif %}
<div class="ui container">
<h1>Edit details for {{user.username}}</h1>
<form method="POST" class="post-form">
{% csrf_token %}

<p><label for="id_salary">Salary</label> <input id="id_salary" name="salary" type="number" value="{{details.salary}}"/></p>
<p><label for="id_description">Description</label> <input id="id_description" name="description" rows="10" value="{{details.description}}"/></p>
<p><label for="id_post">Post</label> 
<select name="post_police" id="post_police">
    <option value="">Select</option>
    <option value="Commissioner">Commissioner</option>
    <option value="Joint Commissioner">Joint Commissioner</option>
    <option value="Deputy Commissioner">Deputy Commissioner</option>
    <option value="Assistant Superintendent">Assistant Superintendent</option>
    <option value="Inspector">Inspector</option>
    <option value="Assistant Inspector">Assistant Inspector</option>
    <option value="Sub-Inspector">Sub-Inspector</option>
    <option value="Constable">Police Constable</option>
</select>
<p><label for="id_station">Police station:</label>
<select name="station_police" id="station_police">
    <option value="">Select</option>
    {%for station in stations %}
    <option value="{{station.slug}}">{{station.name}}</option>
    {% endfor %}
</select>

<p><label for="id_house_no">House no</label> <input id="id_house_no" name="house_no" rows="10" value="{{address.house_no}}"></p>
<p><label for="id_locality">Locality</label> <input id="id_locality" name="locality" rows="10" value="{{address.locality}}"></p>
<p><label for="id_city">City</label> <input cols="40" id="id_city" name="city" rows="10" value="{{address.city}}"></p>
<p><label for="id_state">State</label> <input cols="40" id="id_state" name="state" rows="10" value="{{address.state}}"></p>
<p><label for="id_pin_code">Pin code</label> <input id="id_pin_code" name="pin_code" type="number" value="{{address.pin_code}}"/></p>


<button type="submit" class="save ab ui button teal">Save Changes</button>

</form>
</div>
{%endblock%}

{% block js_footer %}
<script type="text/javascript">
    $(document).ready(function (){
        console.log('yo');

        $("form").submit(function(e){
            if($('#post_police').val()==""||$('#station_police').val()==""){
                e.preventDefault(e);
                $.amaran({message:"Post or Police station can't be empty"});
            }
        });

        // console.log('{{details.station_id}}');
        {% if post %}
        var temp="{{post}}";
        $('#post_police').val(temp);
        {% endif %}
        {% if details.station_id %}
        var temp="{{details.station_id}}";
        $('#station_police').val(temp);
        {% endif %}
    });
</script>


{% endblock %}