<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<h1> Signup Kar saale</h1>
    <form method="POST" class="post-form">{% csrf_token %}
    <div class="controls">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="text" id="email" name="email" placeholder="email ID">
            <input type="text" id="firstname" name="firstname" placeholder="First Name">
            <input type="text" id="lastname" name="lastname" placeholder="Last Name">
             <input type="password" name="password" id="password" placeholder="Password">  
    </div>
        <button type="submit" class="save btn btn-default">Signup kar Chutiye</button>
    </form>
    <div>{{status}}</div>

</body>
</html>