{% extends "police/partials/layout.html" %}
{% block content %}
<h1>{{user.username}}</h1>
<p><a href="{% url 'logout' %}">LOGOUT</a></p>
<p>First Name :{{user.first_name}}</p>
<p>Last Name :{{user.last_name}}</p>
<p>Email ID :{{user.email}}</p>
<p>Age :{{curr_user.age}}</p>
<p><a href="{% url 'editpolice' username=user.username%}">EDIT Personal Info</a></p>


<div>
<p><a href="{% url 'civiliandatabase' %}">VIEW USER DATABASE</a>
<p><a href="{% url 'criminaldatabase' %}">VIEW CRIMINAL DATABASE</a>
</div>



<h3>Search for a user</h3>
 <form method="POST" class="post-form">{% csrf_token %}
 <input type="text" id="username" name="username" placeholder="Username">
 <button type="submit" value="civilian" name="civilian">Search</button>
 </form>

<h3>Search for police</h3>
 <form method="POST" class="post-form">{% csrf_token %}
 <input type="text" id="username" name="username" placeholder="Username">
 <button type="submit" value="police" name="police">Search</button>
 </form> 

{% for i in messages %}
<p>{{i}}</p>
{% endfor %}

{% endblock %}

{% block js_footer %}
{% endblock %}