.ab.dropdown-title{
	position:relative !important;
}
.ab.dropdown-title:hover{
	background:#fff;
	color:#575757 !important;
}
.ab.dropdown-title:hover .dropdown-menu{
	display:block !important;
}
.ab.dropdown-title .ab.dropdown-menu{
	position:absolute !important;
	top:100% !important;
	width:522px;
	font-size:13px;
	background:#151515 !important;
}
.ab.dropdown-title .ab.dropdown-menu.left{
	left:0;
}
.ab.dropdown-title .dropdown-menu{
	display:none;
}
.dropdown-menu .item{
	color:#fff !important;
}
.dropdown-menu .item:hover{
	background:#ACF0F2;
	color:#575757 !important;
}
.dropdown-menu .ui.grid{
	margin:0 !important;
}

.dotted-link-white{
	border-bottom:1px dotted #fff;cursor:pointer;
}

.ab.button{
	border-radius:1px !important;
}
.ab.container{
	margin:0;
	text-align:left;
}

/* */
.ab-align-center{
	text-align:center !important;
}
.ab-align-left{
	text-align:left !important;
}
.ab-align-right{
	text-align:right !important;
}
.ab-style-bold{
	font-weight:bold !important;
}
.ab-style-italic{
	font-style:italic !important;
}
.ab-style-underline{
	text-decoration:underline !important;
}



.ui.modal{
	top:40% !important;
	box-shadow:none !important;
	border-radius:0 !important;
}
}
@media only screen and (min-width: 1200px){
	.ui.small.modal{
		width:450px;
		margin:0em 0em 0em -225px
		
	}
}
@media only screen and (min-width: 992px){
	.ui.small.modal{
		width:450px;
		margin:0em 0em 0em -225px
		
	}
}
@media only screen and (min-width: 768px){
	.ui.small.modal{
		width:450px;
		margin:0em 0em 0em -225px
	}
}
@media all and (max-width: 520px){
	.ui.small.modal{
		width:100%;
		min-height:100vh;
	}
	.modals.dimmer .ui.scrolling.modal{
		margin-top:0 !important;	
		margin-bottom:0 !important;	
	}
	.picker__holder{
		max-width: 360px !important;
	}
	#testDriveModalForm{
		padding-left:0px;
		padding-right:0px;
	}
	.variantDisplay{
		margin-left:0px;
		margin-right:0px;
		padding:4px;
		background:rgb(71, 169, 215);
		color:#F8F8F6;
	}
}	